<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="2.3.2.632" />
  <package id="log4net" version="1.2.10" />
  <package id="NServiceBus" version="2.6.0.1505" />
  <package id="NServiceBus.Autofac" version="2.6.0.1505" />
  <package id="NServiceBus.Autofac2" version="2.6.0.1505" />
  <package id="NServiceBus.CastleWindsor" version="2.6.0.1505" />
  <package id="NServiceBus.Distributor" version="2.6.0.1505" />
  <package id="NServiceBus.Gateway" version="2.6.0.1505" />
  <package id="NServiceBus.Host" version="2.6.0.1505" />
  <package id="NServiceBus.Proxy" version="2.6.0.1505" />
  <package id="NServiceBus.StructureMap" version="2.6.0.1505" />
  <package id="NServiceBus.StructureMap262" version="2.6.0.1505" />
  <package id="NServiceBus.Testing" version="2.6.0.1505" />
  <package id="NServiceBus.TimeoutManager" version="2.6.0.1505" />
  <package id="NServiceBus.Unity" version="2.6.0.1505" />
</packages>